@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
.hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.card-image__wrapper {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

address {
  font-style: normal;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.25;
}

/* Делает картинки блочными */
img {
  display: block;
  width: 100%;
  height: auto;
}

/* Типография */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Убрать подчёркивания у ссылок */
.link {
  text-decoration: none;
}

/* Убрать маркировку списков */
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Поинтер на кнопки */
.button {
  cursor: pointer;
}

/* Задаём ширину остовного контейнера */
.container {
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 320px) {
  .container {
    min-width: 320px;
  }
}

@media (min-width: 480px) {
  .container {
    min-width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    min-width: 768px;
    padding-left: 85px;
    padding-right: 85px;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 175px;
    padding-right: 175px;
  }
}

.main {
  margin-top: -50px;
}

.hero-section {
  position: relative;
  height: 364px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #0e0e0e;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(11, 11, 11, 0.5)), to(rgba(11, 11, 11, 0.5))), url("../images/mobile/hero.png");
  background-image: linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)), url("../images/mobile/hero.png");
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(11, 11, 11, 0.5)), to(rgba(11, 11, 11, 0.5))), url("../images/mobile/hero@2x.png");
    background-image: linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)), url("../images/mobile/hero@2x.png");
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(11, 11, 11, 0.5)), to(rgba(11, 11, 11, 0.5))), url("../images/tablet/hero.png");
    background-image: linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)), url("../images/tablet/hero.png");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(11, 11, 11, 0.5)), to(rgba(11, 11, 11, 0.5))), url("../images/tablet/hero@2x.png");
    background-image: linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)), url("../images/tablet/hero@2x.png");
  }
}

@media screen and (min-width: 1280px) {
  .hero-section {
    height: 446px;
    max-width: 1600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(11, 11, 11, 0.5)), to(rgba(11, 11, 11, 0.5))), url("../images/desktop/hero.png");
    background-image: linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)), url("../images/desktop/hero.png");
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(11, 11, 11, 0.5)), to(rgba(11, 11, 11, 0.5))), url("../images/desktop/hero@2x.png");
    background-image: linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)), url("../images/desktop/hero@2x.png");
  }
}

.logo {
  display: inline-block;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.hero-title {
  display: inline-block;
  color: #dc56c5;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin-top: -15px;
}

@media screen and (min-width: 768px) {
  .hero-title {
    position: absolute;
    top: 0;
    right: 27%;
    font-size: 30px;
    max-width: 370px;
    margin-top: 40px;
    max-height: 74px;
    padding-right: 0;
    padding-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 50px;
    margin-top: 40px;
    max-width: 600px;
    max-height: 122px;
  }
}

.search-form {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .search-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 30%;
  }
}

@media screen and (min-width: 1280px) {
  .search-form {
    top: 45%;
    right: 27%;
  }
}

.complete-input {
  position: relative;
}

.search-input {
  width: 270px;
  height: 40px;
  margin-top: 25px;
  padding: 10px 30px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 20px;
  border: none;
}

@media screen and (min-width: 768px) {
  .search-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .search-input {
    margin-top: 13px;
  }
}

.search-input::-webkit-input-placeholder {
  color: #939393;
  font-size: 16px;
  line-height: 1.25;
}

.search-input:-ms-input-placeholder {
  color: #939393;
  font-size: 16px;
  line-height: 1.25;
}

.search-input::-ms-input-placeholder {
  color: #939393;
  font-size: 16px;
  line-height: 1.25;
}

.search-input::placeholder {
  color: #939393;
  font-size: 16px;
  line-height: 1.25;
}

.search-icon {
  position: absolute;
  right: 30px;
  width: 12px;
  height: 12px;
  fill: #939393;
  -webkit-transform: translate(-200%, -200%);
          transform: translate(-200%, -200%);
}

@media screen and (min-width: 480px) {
  .search-icon {
    right: 90px;
  }
}

@media screen and (min-width: 768px) {
  .search-icon {
    right: 30px;
    -webkit-transform: translate(-50%, -200%);
            transform: translate(-50%, -200%);
  }
}

.overlay {
  position: absolute;
  width: 320px;
  height: 102px;
  left: 0px;
  top: 262px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(13, 13, 13, 0.19)), to(rgba(14, 14, 14, 0.8)));
  background: linear-gradient(to top, rgba(13, 13, 13, 0.19), rgba(14, 14, 14, 0.8));
}

@media screen and (min-width: 768px) {
  .overlay {
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .overlay {
    width: 1280px;
    top: 344px;
  }
}

.main-wrapper {
  height: 1930px;
  background-image: url(../images/desktop/bg-body.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx), screen and (max-width: 479px) {
  .main-wrapper {
    background-image: url(../images/mobile/bg-body@2x.png);
  }
}

@media (min-width: 768px) {
  .main-wrapper {
    background-image: url(../images/tablet/bg-body.png);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .main-wrapper {
    background-image: url(../images/tablet/bg-body@2x.png);
  }
}

@media (min-width: 1280px) {
  .main-wrapper {
    background-image: url(../images/desktop/bg-body.png);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .main-wrapper {
    background-image: url(../images/desktop/bg-body@2x.png);
  }
}

.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  padding-bottom: 63px;
  padding-left: 0;
  margin-right: -14px;
  margin-bottom: -39px;
}

@media (min-width: 768px) {
  .card-list {
    margin-right: -27px;
    margin-bottom: -58px;
  }
}

@media (min-width: 1280px) {
  .card-list {
    margin-right: -70px;
    margin-bottom: -63px;
  }
}

.card-item {
  position: relative;
  text-align: center;
  cursor: pointer;
  border-radius: 50px 0px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: -webkit-transform;
  transition: -webkit-transform;
  transition: transform;
  transition: transform, -webkit-transform;
  width: 128px;
  margin-right: 14px;
  margin-bottom: 39px;
}

@media (min-width: 768px) {
  .card-item {
    width: 180px;
    margin-right: 27px;
    margin-bottom: 58px;
  }
}

@media (min-width: 1280px) {
  .card-item {
    margin-right: 70px;
    margin-bottom: 63px;
  }
}

.card-item::before {
  position: absolute;
  display: block;
  content: '';
  border-radius: 50px 0px;
  border: 1px solid rgba(220, 86, 197, 0.3);
  width: 109px;
  height: 101px;
  top: -9px;
  right: -10px;
}

@media (min-width: 768px) {
  .card-item::before {
    width: 153px;
    height: 143px;
    top: -13px;
    right: -14px;
  }
}

.card-image__wrapper {
  display: inline-block;
  width: 128px;
  height: 161px;
  border-radius: 50px 0px;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
}

@media (min-width: 768px) {
  .card-image__wrapper {
    width: 180px;
    height: 227px;
  }
}

.card-image {
  height: 161px;
  width: 100%;
}

@media (min-width: 768px) {
  .card-image {
    height: 227px;
  }
}

.description {
  font-family: Montserrat;
  font-style: 400;
}

.card-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #dc56c5;
  padding: 5px 0px;
}

@media (min-width: 768px) {
  .card-name {
    font-size: 15px;
    line-height: 20px;
  }
}

.card-date {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 5px 0px;
}

@media (min-width: 768px) {
  .card-date {
    font-size: 16px;
    line-height: 20px;
  }
}

.card-place {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  padding: 5px 0px;
}

@media (min-width: 768px) {
  .card-place {
    font-size: 14px;
    line-height: 17px;
  }
}

.svg {
  overflow: visible;
  margin-right: 3px;
}

.footer {
  color: #939393;
  text-align: center;
}

.modal-wrapper {
  width: 272px;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 75px;
  padding-bottom: 104px;
  padding-left: 12px;
  padding-right: 17px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 150px 0px;
  background-color: #fff2fd;
}

@media screen and (min-width: 768px) {
  .modal-wrapper {
    width: 595px;
    height: auto;
    padding-top: 28px;
    padding-bottom: 56px;
    padding-left: 50px;
    padding-right: 17px;
    border-radius: 300px 0px;
  }
}

@media screen and (min-width: 1280px) {
  .modal-wrapper {
    width: 942px;
    height: 100%;
    padding-top: 62px;
    padding-bottom: 62px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 300px 0px;
  }
}

.modal-ikon {
  width: 102px;
  height: 102px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;
}

@media screen and (min-width: 768px) {
  .modal-ikon {
    width: 70px;
    height: 70px;
    margin-bottom: 43px;
  }
}

@media screen and (min-width: 1280px) {
  .modal-ikon {
    width: 132px;
    height: 132px;
    margin-bottom: 41px;
  }
}

.modal-img {
  display: none;
}

@media screen and (min-width: 768px) {
  .modal-img {
    display: block;
    width: 233px;
    height: 416px;
    margin-right: 30px;
    margin-top: 43px;
  }
}

@media screen and (min-width: 1280px) {
  .modal-img {
    width: 360px;
    height: 641px;
    margin-right: 60px;
    margin-top: 41px;
  }
}

.title-modal {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #dc56c5;
  margin-bottom: 5px;
}

@media screen and (min-width: 768px) {
  .title-modal {
    font-size: 24px;
    margin-bottom: 7px;
    text-align: left;
  }
}

@media screen and (min-width: 1280px) {
  .title-modal {
    font-size: 24px;
    margin-bottom: 7px;
    text-align: left;
  }
}

.modal-wrapper p {
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .modal-wrapper p {
    text-align: left;
  }
}

@media screen and (min-width: 1280px) {
  .modal-wrapper p {
    font-size: 18px;
    text-align: left;
    margin-bottom: 20px;
  }
}

.modal-btn {
  font-size: 16px;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .modal-btn {
    margin-left: 0px;
  }
}

.btn-buy {
  color: #fff;
  min-width: 145px;
  background-color: #4c00fe;
  padding-right: 19px;
  padding-left: 19px;
}

.buy-tickets {
  margin-bottom: 20px;
}

@media screen and (min-width: 1280px) {
  .buy-tickets {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .modal-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.ticket-standart::before {
  display: inline-block;
  content: '';
  width: 24px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 13px;
  vertical-align: middle;
}

@media screen and (min-width: 1280px) {
  .ticket-standart::before {
    width: 29px;
    height: 19px;
  }
}

.ticket-vip::before {
  display: inline-block;
  content: '';
  width: 24px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 13px;
  vertical-align: middle;
}

@media screen and (min-width: 1280px) {
  .ticket-vip::before {
    width: 29px;
    height: 19px;
  }
}

.ticket::before {
  background-image: url(../images/ticket2.png);
}

.more-btn {
  min-width: 224px;
  padding-right: 3px;
  padding-left: 3px;
  color: #4c00fe;
  background-color: transparent;
  border: 1px solid #dc56c5;
  margin-top: 45px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1280px) {
  .more-btn {
    min-width: 255px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
/*# sourceMappingURL=main.css.map */