<ul id="element" class="country-list">
    <li><input type="button" class="country-button" data-country-code="US" value="USA"></li>
    <li><input type="button" class="country-button" data-country-code="CA" value="Canada"></li>
    <li><input type="button" class="country-button" data-country-code="UK" value="Great Britain"></li>
    <li><input type="button" class="country-button" data-country-code="DE" value="Germany"></li>
    <li><input type="button" class="country-button" data-country-code="FR" value="France"></li>
    <li><input type="button" class="country-button" data-country-code="PL" value="Poland"></li>
    <li><input type="button" class="country-button" data-country-code="AU" value="Australia"></li>
    <li><input type="button" class="country-button" data-country-code="NZ" value="New Zealand"></li>
    <li><input type="button" class="country-button" data-country-code="DK" value="Denmark"></li>
    <li><input type="button" class="country-button" data-country-code="FR" value="France"></li>
    <li><input type="button" class="country-button" data-country-code="PL" value="Poland"></li>
    <li><input type="button" class="country-button" data-country-code="AU" value="Australia"></li>
    <li><input type="button" class="country-button" data-country-code="NZ" value="New Zealand"></li>
    <li><input type="button" class="country-button" data-country-code="DK" value="Denmark"></li>
</ul>