<ul class="pagination-list">
{{#each this.items}}
{{#if latest}}
<li class="{{../paginationItemClass}}">...</li>
{{/if}}
<li class="{{../paginationItemClass}} {{#if active}}active{{/if}}">{{value}}</li>
{{/each}}
</ul>