$accent-color: #dc56c5;
$secondary-color: #939393;
$secondary-color-02: rgba(255, 255, 255, 0.2);
$country-name: #CCCCCC;

$light-color: #ffffff;
$dark-color: #0e0e0e;
$modal-navigation: #4c00fe;
$modal-background: #200d1d99;


