
</section>
<section class="hero-section">
<a href="./index.html" class="logo-link link"> <img class="logo" src="../images/desktop/logo.png" alt="logo"> </a>
    <div class="hero-container">
        <h1 class="hero-title">FIND BEST EVENTS AROUND THE WORLD</h1>
        
    </div>
    <form class="search-form" id="search-form">
        <input type="text" name="query" class="clear-input" autocomplete="off" placeholder="Start searching" />
        <select class="switch-country" id="selectID">
            <option selected="" value="Default">Choose country</option>
            <option value="AF">Australia</option>
            <option value="AL">Canada</option>
            <option value="DZ">India</option>
            <option value="AS">Russia</option>
            <option value="AD">USA</option>
        </select>
    </form>
</section>