// Стили для <ul> 

.card-list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 63px;
}

// Стили для <li>
.card-item {
    position: relative;
    text-align: center;
    border-radius: 50px 0px;
    object-fit: contain;
    transition: transform;

    width: 128px;

    margin-right: 14px;
    margin-bottom: 39px;

    @include for-size(tablet) {
        width: 180px;
        margin-right: 27px;
        margin-bottom: 58px;
      }
    @include for-size(desktop) {
        margin-right: 70px;
        margin-bottom: 63px;
      }
}

.card-item::before {
    position: absolute;
    display: block;
    content: '';
    border-radius: 50px 0px;
}

.description {
    font-family: Montserrat;
    font-style: 400;
}
.card-name {
    
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: $accent-color;
    padding: 0px 8px;

    @include for-size(tablet) {
      font-size: 15px;
      line-height: 20px;
      padding: 0px 3px;
    }
  }

  .card-date {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
   

    @include for-size(tablet) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  .card-place {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;

    @include for-size(tablet) {
      font-size: 14px;
      line-height: 17px;
    }
  }