
.search-form {
  text-align: center;
  margin-top: 25px;

  @media screen and (min-width: 768px) {
    display: flex;
    margin-top: 0;
    justify-content: center;
    position: absolute;
    top: 38%;
  }
  @media screen and (min-width: 1280px) {
    top: 45%;
    right: 28%;
  }
}

.start-input {
  position: relative;

  @media screen and (min-width: 768px) {
    width: 270px;
  }

  & input {
    @extend %input-field;
    transition: all 500ms linear;
  }

  & input:hover,
  & input:focus,
  & input.active {
    outline: none;
    box-shadow: 0 0 1px 1px $accent-color;
    transition: all 500ms linear;
  }

  &::after {
    @extend %input-icon;
    background: url('../images/Vector.svg') no-repeat;
  }
}

.choose-input {
  z-index: 99;
  @extend %input-field;

  transition: all 500ms linear;
  position: relative;
  margin-top: 25px;


  &:hover,
  &:focus {
    outline: none;
    box-shadow: 0 0 1px 1px $accent-color;

  }

  @media screen and (min-width: 768px) {
    width: 270px;
    margin-top: 0;
    margin-left: 30px;
  }
  @media screen and (min-width: 1280px) {

    margin-left: 30px;
  }

}

.choose-country {
  display: block;
  text-align: start;
  position: relative;
  transition: all 500ms linear;

  &::after {
    @extend %input-icon;
    background: url('../images/Polygon1.svg') no-repeat;
    top: 12px;
    right: 0;
  }
  &::before {
    @extend %input-icon;
    top: auto;
    bottom: -10px;
    right: -5px;
    width: 225px;
    height: 1px;
    background: url('../images/Line.svg') no-repeat;
    transform: translateY(-50%) scalex(0);
    transition: transform 500ms linear;
  }

  &.active {
    outline: none;
    margin-bottom: 20px;

    &::after {
      background: url('../images/Polygon.svg') no-repeat;
    }
    &::before {

      transform: translateY(-50%) scalex(1);
    }

  }
}

.country-list {
  width: 250px;
  margin-left: -30px;
  //padding-top: 15px;
  height: 210px;
  overflow-y: scroll;
  color: $country-name-color;
  transform: scaleY(1);
  transition: all 500ms linear;

  @media screen and (min-width: 768px) {
    width: 267px;

  }


  //&::-webkit-scrollbar-button {
  //  background-image: url('');
  //
  //}

  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 20px;
    border-radius: 5px;
    background-color: $secondary-color;

  }

  &::-webkit-scrollbar {
    width: 3px;
  }




  .choose-input :not(.active) + & {
    padding-top: 0;
    height: 0;
    transform: scaleY(0);
  }


}

.country-button {
  height: 25px;
  width: 100%;
  align-items: center;
  color: $secondary-color;
  text-align: start;
  padding-left: 30px;

  &:hover,
  &:focus,
  &.active,
  &.current {
    outline: none;
    background: $accent-color;
    color: $light-color;
    box-shadow: none;
  }

}

