.pagination {
  margin-top: 21px;
  margin-bottom: 60px;

  @include for-size(desktop) {
    margin-top: 17px;
    margin-bottom: 80px;
  }

  .pagination-list {
    display: flex;
    justify-content: center;
  }

  .pagination-item {
    padding: 5px 12px;
    line-height: 1.21;
    font-size: 14px;
    color: $light-color;

    @include for-size(tablet) {
      line-height: 1.25;
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-right: 5px;
    }

    &:hover {
      cursor: pointer;
      color: $accent-color;
    }
  }

  .pagination-item.active {
    border: 1px solid $accent-color;
    border-radius: 10px 0;
    color: $accent-color;
  }
}

.pagination-item__inactive {
  pointer-events: none;
}
